.hero, .index-hero {
	background-image: url("/images/header.jpeg");
	background-size: 100%;
	background-position: bottom;
	top: 0;
	z-index: -3;
	width: 100%;
	vertical-align: middle;
	position: fixed;
}

.hero {
	height: 100px;
	line-height: 100px;
}

.index-hero {
	height: 300px;
	line-height: 300px;
}

.hero h1, .index-hero h1 {
	font-family: $handwrit;
	font-weight: normal;
	font-size: 75px;
	margin: 0;
}

.hero, .index-hero, .navigation {
	color: white;
	text-align: center;
}

.navigation {
	background-color: $main-blue;
	font-family: $sans;
	padding: 10px 0 5px 0;
	font-size: 20px;
	border-bottom: 3px solid black;
}

.navigation a {
	text-decoration: none;
	color: white;
}

.navigation a:hover {
	color: $link-hover;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation li {
	display: inline;
	margin: 0 10px;
}

.sticky-nav {
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
}