@import 'photopage';

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.index-container {
	margin: 25px;
}

.index-content {
	padding: 10px;
}

.index-photo {
<<<<<<< HEAD
	background-size: cover;
	margin: 15px;
	display: inline;
	height: 300px;
	width: 390px;
}
.chef-photo{
	float: right;
}
.rest-photo{
	float: left;
}
.clearfix{
	clear: both;
}
