body{
	background-color: brown;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.menu-container{
	margin: 0 auto;
}

.menu-item{
	height: 400px;
	width: 250px;
	background-size: cover;
}

.menu-item-container{
	margin: 2px auto;
	transition: all 1s;
}

.menu-item-overlay{
	background-color: lightgrey;
	opacity: 0.8;
	box-shadow: 10px 20px 25px 0 black;
}

.menu-item-text{
	text-align: center;
}
.menu-item-text p{
	margin: 0;
	font-size: 28px;
	position: relative;
	top: 160px;
	text-shadow: 2px 2px white;


}

.menu-item1{
	background-image: url('/images/mussels.jpg');
}
.menu-item2{
	background-image: url('/images/lasagna.jpg');
}
.menu-item3{
	background-image: url('/images/crostini.jpg');
}
.menu-item4{
	background-image: url('/images/antipasto.jpg');
}
.menu-item5{
	background-image: url('/images/ravioli.jpg');
}
.menu-item6{
	background-image: url('/images/seafood.jpg');
}