@import 'photopage';
@import 'variables';
@import 'header';
@import 'menu';
@import 'footer';
@import 'index';
@import 'contact';

body {
	background-color: $page-bg;
	padding: 0;
	margin: 0;
	max-width: 1200px;
	font-family: sans-serif;
}

a {
	color: $link-reg;
	text-decoration: none;
}

a:hover {
	color: $link-hover;
}

.withsmall {
	margin-top: 100px;
}

.withbig {
	margin-top: 300px;
}

.withsmall, .withbig {
	background-color: $page-bg;
}

.sticky-page-holder {
	padding-top: 50px;
}