
<div class="contact-main">
<form method="POST" action="/contact">
	<input class="from-email-input" type="email" name="from_email" placeholder="your email">
	<input class="subject-input" type="text" name="subject" size="50" placeholder="subject">
	<input class="buttonforcontact" type="submit" name="send" placeholder="Send">
	<input class="content-input" type="text" name="content"
	placeholder="body">
</form>
<% if @mail %>
	<div class="from-output"><%= @from.email  %></div>
	<div class="subject-output"> <%= @mail.subject %> </div>
	<div class="content-output"><%= @content.value %></div>
<% end %>
</div>
