

<form method="POST" action="/contact">
	<input type="email" name="from_email" placeholder="your email">
	<input type="email" name="to_email" placeholder="to email">
	<input type="text" name="subject" size="50">
	<input type="text" name="content">
	<input type="submit" name="send" placeholder="Send">
</form>
<% if @mail %>
	<div><%= @from.email  %></div>
	<div><%= @to.email  %></div>
	<div> <%= @mail.subject %> </div>
	<div><%= @content.value %></div>
<% end %>
