<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz" rel="stylesheet">

<div class="container"><div class="navigation"><ul><a href=""><li>Home</li></a><li>|</li><a href=""><li>Menu</li></a><li>|</li><a href=""><li>Photos</li></a><li>|</li><a href=""><li>Contact</li></a></ul></div>

<%= yield %>

</div>