<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title></title>
</head>
<body>
	<%= yield %>
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>



