<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz" rel="stylesheet">

<div class="<%= "#{@heading}" %>"><h1>Little Italy</h1></div>

<div class="container"><div class="navigation"><ul><a href="/"><li>Home</li></a><li>|</li><a href="/menu"><li>Menu</li></a><li>|</li><a href="/photopage"><li>Photos</li></a><li>|</li><a href="/contact"><li>Contact</li></a></ul></div>

<%= yield %>

</div>

<script type="text/javascript" src="scripts.js"></script>
