<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Italian Underwater Dining</title>
</head>
<body>
	<div class="<%= "#{@heading}" %>">
		<h1>Little Italy</h1>
	</div>
	<div class="<%= "#{@page_type}" %>">
		<div class="navigation">
			<ul>
				<a href="/"><li>Home</li></a>
				<li>|</li>
				<a href="/menu"><li>Menu</li></a>
				<li>|</li>
				<a href="/photopage"><li>Photos</li></a>
				<li>|</li>
				<a href="/contact"><li>Contact</li></a>
			</ul>
		</div>

	<div id="pageHolder">
	<%= yield %>
	</div>

	</div>

	<div class="footer">
		<div class="ft-breaker">
			<span class="footer-title">Little Italy</span>
			<span class="footer-punch">The coolest underwater Italian restaurant in Philadelphia!</span>
			<div class="footer-info">
				<div class="ftinfo-box">123 Street Avenue<br>Philadelphia, PA 19104</div>
				<div class="ftinfo-box"><b>Phone or Fax</b><br>(123) 456-7890</div>
				<div class="ftinfo-box">LittleItaly@Aquarium.com<br><b><a href="/contact">Contact us!</a></b></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="scripts.js"></script>
	<script type="text/javascript" src="<%= "#{@nav_script_type}" %>"></script>
</body>
</html>