<h1>MENU</h1>
<div class="menu-container flex">
	<div class="menu-item-container">
		<div class="menu-item menu-item1">
			<div class="menu-item-text">
				<p>Mussel Spaghetti</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item2">
			<div class="menu-item-text">
				<p>Lasagna</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item3">
			<div class="menu-item-text">
				<p>Chevre Bruschetta</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item4">
			<div class="menu-item-text">
				<p>Antipasti</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item5">
			<div class="menu-item-text">
				<p>Sundried Tomato Ravioli</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item6">
			<div class="menu-item-text">
				<p>Seafood Melange</p>
			</div>
		</div>
	</div>
</div>
