<div class="menu-container flex">
<h1 class="menu-heading">MENU</h1>
<div class="menu-type-container">
	<h2 class="menu-type">Breakfast</h2>
	<h2 class="menu-type">Lunch</h2>
	<h2 class="menu-type">Dinner</h2>
	<h2 class="menu-type">Dessert</h2>
</div>

	<div class="menu-item-container">
		<div class="menu-item menu-item1">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Mussel Spaghetti</h3>
				<p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item2">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Lasagna</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item3">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Chevre Bruschetta</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item4">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Antipasti</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item5">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Sundried Tomato Ravioli</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item6">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Fruits of the Sea</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item1">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Mussel Spaghetti</h3>
				<p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item2">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Lasagna</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item3">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Chevre Bruschetta</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item4">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Antipasti</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item5">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Sundried Tomato Ravioli</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item6">
			<div class="menu-item-text-div">
				<h3 class="menu-item-title">Fruits of the Sea</h3>
				<p class ="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>
