<h1>MENU</h1>
<div class="menu-container flex">
	<div class="menu-item-container">
		<div class="menu-item menu-item1">
			<h3 class="menu-item-title">Mussel Spaghetti</h3>
			<p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	<!-- <div class="menu-item-container">
		<div class="menu-item menu-item2">
			<div class="menu-item-text">
				<h3>Lasagna</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item3">
			<div class="menu-item-text">
				<h3>Chevre Bruschetta</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item4">
			<div class="menu-item-text">
				<h3>Antipasti</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item5">
			<div class="menu-item-text">
				<h3>Sundried Tomato Ravioli</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="menu-item-container">
		<div class="menu-item menu-item6">
			<div class="menu-item-text">
				<h3>Fruits of the Sea</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div> -->
</div>
