<div class="main-title">
		<div class="title-text">Our Restuarants Photos</div>
</div>

<div class="photo-gallery">
	<div id="photo-viewer"></div>
	<div id="photo-thumbails">
		<a href="https://static1.squarespace.com/static/54c03750e4b0e9f0be75766a/54c03f88e4b0d04c1338b200/54c04a81e4b060be3ca79136/1421888135179/Love+and+Salt+Cavatappi+-+High+resolution.jpg?format=1500w" class="thumbActive" title="macaroni">
			<img src="https://static1.squarespace.com/static/54c03750e4b0e9f0be75766a/54c03f88e4b0d04c1338b200/54c04a81e4b060be3ca79136/1421888135179/Love+and+Salt+Cavatappi+-+High+resolution.jpg?format=1500w" alt="macaroni">
		</a>
		<a href="http://vista-arrowhead.figure8solutions.com/wp-content/uploads/2014/09/bolo-not-high-res.jpg" class="thumbActive" title="pasta-dish">
			<img src="http://vista-arrowhead.figure8solutions.com/wp-content/uploads/2014/09/bolo-not-high-res.jpg" alt="pasta-dish">
		</a>
		<a href="https://foodimentaryguy.files.wordpress.com/2015/02/www-huffingtonpost-com.jpg">
			<img src="" alt="">
		</a>
		<a href="">
			<img src="" alt="">
		</a>
		<a href="">
			<img src="" alt="">
		</a>
	</div>

</div>



<div class="main-image-container">
	<div class="title">  </div>
		<div class="border-of-content">
			<div class="image firstimage" id="image1">
				
			</div>
			<div class="image secondimage" id="image2">
				
			</div>
			<div class="image thirdimage" id="image3">
				
			</div>
			<div class="image fourthimage" id="image4">
				
			</div>
			<div class="image fifthimage" id="image5">
				
			</div>
			<div class="image sixthimage" id="image6">
				
			</div>
			<div class="image seventhimage" id="image7">
				
			</div>
			<div class="image eigthimage" id="image8">
				
			</div>
			<div class="image ninethimage" id="image9">
				
			</div>
		</div>
</div>