
<div class="gal-main-image-container">
	<div class="gal-title"> Our Resturaunt </div>
		<div class="gal-border-of-content">
			<div class="outerdiv">
			<div class="galimage firstimage" id="image1">
				<div class="gal-image-text"> Mac N Cheese </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage secondimage" id="image2">
				<div class="gal-image-text"> Pasta Dish </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage thirdimage" id="image3">
				<div class="gal-image-text"> Meat Balls </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage fourthimage" id="image4">
				<div class="gal-image-text"> Pizza w/ veggies </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage fifthimage" id="image5">
				<div class="gal-image-text"> Pizza </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage sixthimage" id="image6">
				<div class="gal-image-text"> Dining Area </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage seventhimage" id="image7">
				<div class="gal-image-text"> Our Chef </div>
			</div>
			</div>
			<div class="outerdiv">
			<div class="galimage eigthimage" id="image8">
				<div class="gal-image-text"> Our Oven </div>
			</div>
			</div>
		</div>
</div>