
<div class="gal-main-image-container">
	<div class="gal-title"> Little Italy </div>
		<div class="gal-border-of-content">
			<div class="galimage firstimage" id="image1">
				
			</div>
			<div class="galimage secondimage" id="image2">
				
			</div>
			<div class="galimage thirdimage" id="image3">
				
			</div>
			<div class="galimage fourthimage" id="image4">
				
			</div>
			<div class="galimage fifthimage" id="image5">
				
			</div>
			<div class="galimage sixthimage" id="image6">
				
			</div>
			<div class="galimage seventhimage" id="image7">
				
			</div>
			<div class="galimage eigthimage" id="image8">
				
			</div>
		</div>
</div>