<div class="main-title">
		<div class="title-text">Our Restuarants Photos</div>
</div>

<div class="photo-gallery">
	<div id="photo-viewer"></div>
	<div id="photo-thumbails">
		<a href="" class="thumbActive" title="">
			<img src="" alt="">
		</a>
		<a href="" class="thumbActive" title="">
			<img src="" alt="">
		</a>
		<a href="">
			<img src="" alt="">
		</a>
		<a href="">
			<img src="" alt="">
		</a>
		<a href="">
			<img src="" alt="">
		</a>
	</div>

</div>